@charset 'UTF-8';

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* サイト名 */
.site {
  padding: 10px 0;
  background-color: #eee;
  border-bottom: solid 1px #ddd;
  text-align: center;
}
.site a {
  color: #666;
  font-size: 2６px;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}

/* 記事 */
.kiji h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.kiji h1 span {
  display: block;
  margin-bottom: 20px;
  color: #930000;
  font-size: 20px;
  font-weight: bold;
}

.kiji p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 2;
  text-align: justify;
}

.kijiinfo {
  margin-bottom: 20px;
  color: #666;
}

/* コピーライト */
.copyright {
  padding: 18px 0;
  background-color: #333;
  text-align: center;
}

.copyright p {
  margin: 0;
  color: #fff;
  font-size: 14px;
}

/* 画像 */
img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0 0 30px;
}

figcaption {
  font-size: 12px;
}

figcaption strong {
  display: block;
}

/* グリッド */
body {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 900px) minmax(20px, 1fr);
  grid-template-rows: auto 40px auto 30px auto;
}

.site {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.kiji {
  grid-column-start: 2;
  grid-row-start: 3;
}

.copyright {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: -2;
}

@media (min-width: 600px) {
  /* 記事のグリッド */
  article {
    display: grid;
    grid-template-columns: auto 1fr 7fr;
  }

  article > * {
    grid-column-start: 3;
  }

  article > h1 {
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  article > .kijiinfo {
    grid-column-start: 1;
    grid-row-end: span 2;
  }

  article > .fig1 {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
  }

  article > .fig3 {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 6;
  }

  /* 記事の日付 */
  .kijiinfo span {
    display: block;
    margin-bottom: 10px;
    font-size: 120px;
    line-height: 1;
  }

  .kijiinfo time {
    display: block;
  }

  /* 画像とキャプション */
  .fig1 {
    margin-bottom: -65px;
  }
  .fig2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-bottom: -140px;
  }
  .fig3 {
    display: flex;
    align-items: flex-end;
  }

  .fig2 img {
    width: 65%;
    margin-left: 10px;
  }

  .fig3 img {
    width: 75%;
    margin-right: 10px;
  }
  figcaption {
    width: 14em;
  }

  /* 767px以下 */
  @media (max-width: 767px) {
    article > .fig3 {
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    .fig2 {
      margin-bottom: -70px;
    }

    .fig1 figcaption {
      width: 11em;
    }
  }
}
