@charset 'UTF-8';

body {
  margin: 0;
  font-family: 'Source Sans 3', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* サイト名 */
.site {
  margin: 5px 0;
}

.site a {
  color: #83a4a8;
  font-size: 30px;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}

/* ナビゲーションメニュー */
.menu {
  background-color: #7cabc1;
}
.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 15px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

/* 記事 */
.kiji img {
  max-width: 100%;
  height: auto;
}
.kiji h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.kiji h1 span {
  display: block;
  margin-bottom: 20px;
  color: #7cbac1;
  font-size: 20px;
  font-weight: bold;
}

.kiji h2 {
  margin-top: 40px;
  border-bottom: dotted 1px #7cbac1;
  font-weight: normal;
}

.kiji p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 2;
  text-align: justify;
}

.kijiinfo {
  margin-bottom: 20px;
  color: #666;
}

.menu li a:hover {
  background-color: #eee;
}

/* 特集記事メニュー */
.special ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.special li a {
  display: block;
  padding: 5px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.special li a:hover {
  background-color: #eee;
}
/* おすすめ記事メニュー */
.osusume ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.osusume li a {
  display: block;
  padding: 5px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.osusume li a:hover {
  background-color: #eee;
}
/* 人気の記事メニュー */
.ninki ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ninki li a {
  display: block;
  padding: 5px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.ninki li a:hover {
  background-color: #eee;
}

/* サイドバー */
.side div {
  margin-bottom: 30px;
}

.side h2 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #ddd;
  color: #666;
  font-size: 18px;
}
.side img {
  max-width: 100%;
  height: auto;
}

/* コピーライト */
.copyright {
  border-top: solid 1px #ddd;
  padding: 20px;
}
.copyright p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

/* グリッド */
body {
  display: grid;
  grid-template-columns: 1fr 700px 50px 300px 1fr;
  grid-template-rows: auto auto 40px auto 30px auto;
}

.kiji {
  grid-column-start: 2;
  grid-row-start: 4;
}

.site {
  grid-column-start: 2;
  grid-row-start: 1;
}

.menu {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: inherit;
}
.menu ul {
  grid-column-start: 2;
  grid-column-end: -2;
}

.side {
  grid-column-start: 4;
  grid-row-start: 4;
}
.copyright {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: -2;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: auto;
}
.copyright p {
  grid-column-start: 2;
  grid-column-end: -2;
}

/* 1089px以下 */
@media (max-width: 1089px) {
  body {
    grid-template-columns: 20px 7fr 30px 3fr 20px;
  }
}

/* 767px以下 */
@media (max-width: 767px) {
  body {
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto auto 40px auto 30px auto 30px auto;
  }
  .side {
    grid-column-start: 2;
    grid-row-start: 6;
  }
  /* ナビゲーションメニュー */
  .menu li a {
    padding: 15px 8px;
    font-size: 10px;
  }
}

/* 500px 〜 767px */
@media (min-width: 500px) and (max-width: 767px) {
  .side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
  }
  .osusume {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .special {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .ninki {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
}
