@charset 'UTF-8';

body {
  margin: 0;
  font-family: 'Source Sans 3', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* サイト名 */
.site {
  margin: 5px 0;
}

.site a {
  color: #83a4a8;
  font-size: 30px;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}
